<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="/static/main.css">
        <script type="text/javascript">
            var username = "{{ data['username'] }}";
            var channel_select = "{{ data['channel_select'] }}";
        </script>
        <script src="/static/chatroom.js"></script>
        <title>chatroom</title>
    </head>
    <body>
        <header class='chatroom-header'>
            <span>{{ data['username'] }}</span>
            <a id='logout-bar-button' href='/login'>Logout</a>
        </header>
        <main>
            <div class="wrapper">
                <div id="channel-list">
                    <ul id="channel-list-items" style="padding:0;list-style-type:none;">
                    {% for channel_name in data['channel_names'] %}
                        <li><a class="channel-in-channel-list">{{ channel_name }}</a></li>
                    {% endfor %}
                    </ul>
                    <input id="add-channel-button" type="submit" value="+ Add New Channel" style="width:100%;"></input>
                </div>
                <div id="channel-content"></div>
                <div class="blank"></div>
                <div id="user-input">
                    <form id="user-input-form" style="width:100%;height:100%;" hidden>
                        <input id="user-input-field" type="text" name="post_text" autofocus placeholder="Type Your Message Here"></input>
                        <input id="submit-new-button" type="submit" style="width:10%;height:100%;"></input>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
