{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class='intro-text'>
        <div>Welcome to Robert's book emporium!</div>
        <div>Login below to access and leave reviews</div>
        <div>on your most loved (or loathed) literature</div>
    </div>
    <form action="/login" method="post">
        <div>
            <input autocomplete="off" autofocus class="small-form" name="username" placeholder="Username" type="text" required/>
        </div>
        <div>
            <input class="small-form" name="password" placeholder="Password" type="password" required/>
        </div>
        <button class="button" type="submit">Log In</button>
    </form>
    <div style='padding:8px;'>Don't have an account? Register <a href="/register">here</a></div>
{% endblock %}
