#title {
    letter-spacing:3px;
    padding:3px;
}

@media(max-width: 699px) {
  table {
    border-collapse:collapse;
  }
}

@media(min-width: 700px) {
  table {
    border: 1px solid black;
  }
}

td {
    color:white;
    padding:5px;
}
.vinyasa {
    background-color:blue;
}
.vinyasa:hover {
    background-color:white;
    border-color:blue;
    color:blue;
    border-style:solid;
    border-color:blue;
}
.recovery {
    background-color:orange;
}
.recovery:hover {
    background-color:white;
    color:orange;
    border-style:solid;
    border-color:orange;
}
.nidra {
    background-color:purple;
}
.nidra:hover {
    background-color:white;
    color:purple;
    border-style:solid;
    border-color:purple;
}
