/*  whole site formatting */
:root {
    --dark-purple: #443266;
    --lavender: #C3C3E5;
    --off-white: #FFFFFF;
    --purple: #8C489F;

    --field-padding: 8px;

    background-color: #ddd;
    font-family: arial;
}

header {
    background-color: var(--purple);
    color: var(--off-white);
    height: 5vh;
}
#logout-bar-button {
    float: right;
}

.wrapper {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
}
.wrapper > div {
    background: var(--off-white);
    border: 1px solid var(--purple);
    border-radius: 10px;
    padding: 5px;
}

.blank {
    background: var(--purple);
}

#channel-content {
    overflow: scroll;
    height: 75vh;
}

#channel-content > div {
    padding: 5px;
}

#channel-content > div:nth-child(odd) {
    background-color: #eee;
}

#user-input {
    overflow: scroll;
    height: 10vh;
}

#user-input-field {
    width: 85%;
    height: 95%;
    word-wrap: break-word;
}
